/* img{
    height: 60vh;
    width: 30vw;
}

.about-overall-container{
    background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.9)), url('../../images/imageSeven.jpg') no-repeat fixed center center;
    background-size: cover;
    color: #fff;
} */